*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --car-size: 20vmin;
  --track-width: 80vw;
  --track-height: calc(var(--car-size) * 1.5);
}
* {
  box-sizing: border-box;
}
body {
  background: #437126;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.car {
  width: var(--car-size);
  aspect-ratio: 70 / 39;
  position: absolute;
  top: 50%;
  left: 0;
  container-type: inline-size;
  
}
.car__image {
  height: 100cqw;
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

main {
  display: grid;
  gap: 1rem;
}
.car {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: var(--ease, ease);
  z-index: 10;
}
.track {
  width: var(--track-width);
  height: var(--track-height);
  container-type: inline-size;
}

.track::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  background: repeating-linear-gradient(90deg, hsl(0 0% 90%) 0 6%, transparent 6% 8%) 0 50% / 100% 5% no-repeat, hsl(0 0% 15%);
  z-index: -1;
}

.track::after {
  content: "STOP";
  z-index: 2;
  color: hsl(0 0% 90%);
  font-weight: bold;
  font-size: calc(var(--car-size) * 0.35);
  left: 100%;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) scaleY(1.5);
  line-height: 1;
  border-bottom: calc(var(--car-size) * 0.1) hsl(0 0% 90%) solid;
  background: hsl(0 0% 15%);
}

@keyframes move {
  0%, 10% {
    translate: 0 -50%;
  }
  90%, 100% {
    translate: calc(100cqi - 100%) -50%;
  }
}


select {
  justify-self: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
}